@media (max-width: 106em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    padding-bottom: 10.3rem;
  }

  #how-it-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 52rem);
    align-items: center;
    justify-items: center;
    padding-bottom: 3rem;
  }

  .how-it-works-image--1,
  .how-it-works-image--2,
  .how-it-works-image--3 {
    margin: 0 auto;
    justify-self: center;
  }

  .box--1,
  .box--3 {
    padding-left: 3rem;
  }

  .box--3 {
    padding-top: 0;
  }
}

@media (max-width: 95em) {
  .hero {
    gap: 4rem;
  }
  .hero-text-header {
    font-size: 10rem;
  }

  .how-it-works-header {
    font-size: 3rem;
  }

  .text-box {
    line-height: 0.9;
  }
}

@media (max-width: 75em) {
  #how-it-works {
    display: grid;
    grid-template-columns: 1fr;
  }

  .how-it-works-header {
    font-size: 3rem;
    text-align: center;
  }

  .text-box {
    text-transform: uppercase;
    line-height: 1.3;
  }

  .how-it-works-text {
    font-size: 2.5rem;
  }

  .box--1,
  .box--3,
  .box--2 {
    padding-left: 22.8rem;
    padding-right: 22.8rem;
  }

  .box--1 {
    padding-top: 0;
  }

  .box--2 {
    grid-row: 3;
    padding-bottom: 0;
    padding-top: 3rem;
  }

  .box--3 {
    padding-top: 4rem;
    margin-bottom: 3rem;
  }

  .how-it-works-header {
    line-height: 1;
  }

  html {
    font-size: 50%;
  }
  .hero {
    align-items: center;
  }

  #how-it-works {
    align-items: center;
    justify-items: center;
  }

  .text-box {
    line-height: 1.5;
    padding: 6rem 16rem;
  }

  .box--2 {
    line-height: 1.2;
  }
}

@media (max-width: 65em) {
  .text-box {
    line-height: 1;
    padding: 6rem 16rem;
  }
}

@media (max-width: 54em) {
  .slider {
    max-width: 81rem;
  }

  .how-it-works-header {
    font-size: 2.2rem;
    line-height: 0.9;
  }

  .how-it-works-text {
    font-size: 2rem;
  }

  .slide-text {
    font-size: 2rem;
  }

  .plans-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media (max-width: 47em) {
  .hero-nav {
    top: 1%;
  }
  .hero {
    padding-top: 14rem;
  }
  .hero-text {
    line-height: 1;
  }
  .cta-form {
    max-width: 70rem;
  }

  .check-box {
    grid-template-columns: 1fr 1fr;
  }

  .slide-header {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  .slide-text {
    font-size: 2rem;
  }

  footer {
    padding: 5rem;
  }
}

@media (max-width: 42em) {
  .slider {
    max-width: 70rem;
  }
}

@media (max-width: 37em) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero-text-header {
    padding-top: 5rem;
  }

  .hero-text {
    line-height: 0.9;
    padding-top: 2rem;
  }

  .text-box {
    padding: 1.5rem 10rem;
  }

  .how-it-works-text {
    font-size: 2.1rem;
    line-height: 0.9;
    text-transform: none;
  }

  .box--3 {
    margin-bottom: 3rem;
  }

  .how-it-works-image--1,
  .how-it-works-image--2,
  .how-it-works-image--3 {
    width: 80%;
    height: 40rem;
    background-size: 100%;
  }

  .how-it-works-image--3 {
    margin-top: 3rem;
  }

  .slider {
    margin: 0 3rem;
  }

  .slide {
    display: flex;
  }

  .slide-text {
    font-weight: 700;
  }

  .text--0 .author,
  .text--2 .author,
  .text--3 .author {
    color: #0c4a6e;
  }

  .header--0,
  .header--3 {
    color: #0c4a6e;
  }

  .text--0,
  .text--3 {
    color: #050506;
  }

  .slide--0 {
    background-image: linear-gradient(#0c4a6e59, #0c4a6e59),
      url(img/slider/slide-1.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--1 {
    background-image: linear-gradient(#0c4a6e59, #0c4a6e59),
      url(img/slider/slide-2.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--2 {
    background-image: linear-gradient(#0c4a6e59, #0c4a6e59),
      url(img/slider/slide-3.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--3 {
    background-image: linear-gradient(#0c4a6e59, #0c4a6e59),
      url(img/slider/slide-4.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--4 {
    background-image: linear-gradient(#0c4a6e59, #0c4a6e59),
      url(img/slider/slide-5.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--5 {
    background-image: linear-gradient(#000d1498, #000d1498),
      url(img/slider/slide-6.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--6 {
    background-image: linear-gradient(#0c4a6e59, #0c4a6e59),
      url(img/slider/slide-7.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--7 {
    background-image: linear-gradient(#000d1498, #000d1498),
      url(img/slider/slide-8.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--8 {
    background-image: linear-gradient(#000d1498, #000d1498),
      url(img/slider/slide-9.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--9 {
    background-image: linear-gradient(#0c4a6e59, #0c4a6e59),
      url(img/slider/slide-10.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide--10 {
    background-image: linear-gradient(#000d1498, #000d1498),
      url(img/slider/slide-11.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .slide-img {
    display: none;
  }

  .cta-form {
    width: 80%;
  }

  .input-text {
    min-width: 15.4rem;
  }

  .genres-button {
    min-width: 7rem;
  }

  .new-line {
    display: block;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .modal,
  .modal--footer {
    width: 80%;
  }
}
